@import url(style/header.css);
@import url(style/footer.css);
@import url(style/carrossel.css);

:root{
    --color-menu: #92E5FF;
    --color-fundo: rgba(146, 229, 255, 0.47);
    --fonte-titulo: 'Arizonia', cursive;
    --tamanho-w: 275px;
    --tamanho-h: 263px;
}
body{
    background: var(--color-fundo);
}

.cartaz{
    display: grid;
    grid-template-columns: 50% 1fr ;
    margin: 12px 12px 12px 12px;
}
.miku{
    width: 100%;
}
.texto_pa{
    font-size: 24px;
    margin: 0 24px 0 24px;
    align-self: center;
}
.texto_da{
    align-self: flex-end;
    font-size: 18px;
}
.produtos_texto_inicial{
    display: flex;
    margin: 12px 0 12px 12px;
}
.pao_capa{
    margin: 12px 12px 12px 12px;
    width: 45%;
    height: 20%;
}
@media screen and (max-width: 414px) {
    .cartaz{
        display: block;
    }
    .texto_pa{
        font-size: 24px;
        margin: 12px 24px 12px 8px;
        align-self: center;
    }
    .texto_da{
        font-size: 20px;
    }
    .miku{
        height: 90%;
        width: 90%;
    }
    .produtos_texto_inicial{
        display: block;
        margin: 12px 0 12px 12px;
    }
    .pao_capa{
        display: none;
    }
}

.instrucao{
    display: list-item;
    margin: 12px 12px 12px 12px;
    font-family: var(--fonte-titulo);
    font-size: 48px;
    align-self: baseline;
}
.list__infos{
    display: grid;
    grid-template-columns: auto;
    margin: 12px 12px 12px 12px;
    font-size: larger;
}
.list__infos p {
    font-size: 48px;
    padding: 16px;
}
.list__infos input{
    align-self:baseline;
}
#email{
    margin: 12px 12px 12px 12px;
    width: 30%;
    height: 42px;
}
#mim{
    height: 42px;
    background: #641d5e;
    border-radius: 18px;
    cursor: pointer;
}  
#mim:hover{
    transition: 3s;
    background-color: #1d4464;
}
.contagem{
    font-family:  Arial, Helvetica, sans-serif;
    margin: 12px 12px 12px 12px;
}
.burro{
    margin: 12px 12px 12px 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}
@media screen and (max-width: 414px) {
    .infos{
        font-size: 24px;
    }
    #email{
        display: block;
        margin: 12px 12px 12px 12px;
        width: 90%;
        height: 42px;
    }

}
.eventos_discricao{
    margin: 12px 12px 12px 12px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 414px) {
    .eventos_discricao{
        display: block;
    }
    #patrik{
        width: 100%;
        height: 100%;
    }
    #mapa{
        width: 100%;
        height: 100%;
    }
}
.produtos {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
}
.produto{
    padding: 16px 60px;
    margin: 12px 12px 12px 12px;
    background-color: #1d4464;
    border-radius: 60px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.produto:hover{
    padding: 19px 64px;
    background-color: #111738;
}
.produto_base_img{
   width: var(--tamanho-w);
   height: var(--tamanho-h);
}
.produto_descricao{
    color:aliceblue;
    font-size: 18px;
}
.money{
    font-size: 28px;
    color: #FF0000;
    font-style: italic;
}
.comprar_produto{
    background-color: #01566b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

@media screen and (max-width: 414px) {

    .produto{
        display: block;
    }
    .produto:hover{
        padding: 16px 60px;
        background-color: #1d4464;
    }
}

.listaDeCompra ul{
    display: list-item;
    background-color: #0ca1c733;
    margin: 27px;
    border-radius: 16px;
}

.listaDeCompra li{
    color: #ff0000;
    margin: 12px;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: large;
    
}
.comprar_lista{
    position:relative;
    background-color: #01566b; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    float: right;
    font-size: 16px;
    cursor: pointer;
}